// 轮播图的添加样式
.btn-group{
    float: left;
}

.tips{
    float: left;
    margin-left: 20px;
}

.banner-item{
    width: 800px;

    .thumbnail-group{
        float: left;
        width: 230px;
        .thumbnail{
            width: 100%;
            height: 80px;
        }
    }

    .more-group{
        float: left;
        margin-left: 20px;
        width: 500px;
    }

}