<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="">更多</a>
                </div>
                <div class="advertise-group">
                    <a href=""><img src="https://static-fancube.xfz.cn/1554379231132/22222.jpg-website.active.list" alt=""></a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小茶馆</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhihu">
                                <a href="" target="_blank">小茶馆创业课堂</a>
                            </li>
                            <li class="weibo">
                                <a href="#" target="_blank">小茶馆创业课堂</a>
                            </li>
                            <li class="toutiao">
                                <a href="#" target="_blank">小茶馆头条</a>
                            </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注微信公众号平台</p>
                        </div>
                    </div>
                </div>
                <div class="hot-new-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="#">早报：亚马逊竟用AI监控员工；特斯拉销量下滑...</a></p>
                                <p class="more">
                                    <span class="category">人工智能</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href=""><img src="https://static-image.xfz.cn/1556584381_678.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>