//存储所有长度变量的代码
$pageWidth: 1171px;         // 导航栏宽度；
$navHeight: 64px;           // 导航栏高度；
$sidebarWidth: 358px;       // 侧边栏宽度；
$mainBoxWidth: 798px;       // 轮播图宽度；
$themeColor: #5c87d9;       // 主题颜色；
$mainFontColor: #212121;    // 主要字体颜色；
$assistFontColor: #878787;  // 辅助字体颜色；
$lineColor: #eeeeee;        // 底部线条颜色；
$bannerWidth: $mainBoxWidth;// 左边主要内容区域的宽度；
$bannerHeight: 202px;       // 左边主要内容区域的高度；

$payColor: #f76367;
$freeColor: #7ed321;