{% extends 'base/front_base.html' %}
{% load news_filters %}
{% block title %}
    新闻详情
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/new/new_detail.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/front/news_detail.min.js' %}"></script>
    <!-- 使用arttemplate模块 -->
    <script id="comment-item" type="text/html">
        {% verbatim %}
        <li>
            <div class="comment-info">
                <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/7f0be58c85e887a36f6f6a6be594?t=1557153398"
                     alt=""
                     class="avatar">
                <span class="author">{{ comment.author.username }}</span>
                <span class="pub-time">{{ comment.pub_time|timeSince }}</span>
            </div>
            <p class="comment-content">{{ comment.content }}</p>
        </li>
        {% endverbatim %}
    </script>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="new-wrapper">
                    <h1 class="title">{{ news.title }}</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">{{ news.author.username }}</span>
                            <span class="hub-time">{{ news.pub_time|time_since }}</span>
                            <span class="category">{{ news.category.name }}</span>
                        </div>
                        <div class="share-group">
                            <span>分享至：</span>
                            <div class="weixin share-item"></div>
                            <a class="weibo share-item" href="#"></a>
                        </div>
                    </div>
                    <article class="article">
                        {{ news.content|safe }}
                    </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">
                        文章评论（0）
                    </h3>
                    <textarea name="comment" class="comment-textarea logined- textarea" placeholder="立即登录，参与评论~"></textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn" data-news-id="{{ news.pk }}">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        <!-- 通过外键的方式获取评论区数据 -->
                        {% for comment in news.comments.all %}
                            <li>
                                <div class="comment-info">
                                    <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/7f0be58c85e887a36f6f6a6be594?t=1557153398"
                                         alt=""
                                         class="avatar">
                                    <span class="author">{{ comment.author.username }}</span>
                                    <span class="pub-time">{{ comment.pub_time|time_since }}</span>
                                </div>
                                <p class="comment-content">{{ comment.content }}</p>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}